{
  "plugins": [
    "transform-class-properties"
  ],
  "presets": ["stage-2", "react", "es2015"],
  "env": {
    "test": {
      "plugins": [
        "transform-class-properties"
      ],
      "presets": [["env", {
        "modules": "commonjs"
        }],
        "stage-2",
        "react",
        "es2015"
      ]
    }
  }
}
