{
  "plugins": [
    "transform-class-properties",
    "transform-es2015-block-scoping",
    "transform-es2015-arrow-functions"
  ],
  "presets": ["stage-2", "react"],
  "env": {
    "test": {
      "plugins": [
        "transform-class-properties",
        "transform-es2015-block-scoping",
        "transform-es2015-arrow-functions"
      ],
      "presets": [["env", {
        "modules": "commonjs"
        }],
        "stage-2",
        "react"
      ]
    }
  }
}
